.form-container {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;

    button {
      margin-top: 1.5rem;
    }

    .my-form-field .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }
}
